H1 {
  color: aquamarine;
  font-size: xxx-large;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
H2 {
  font-size: large;
  color: blue;
}
H3 {
  color: black;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
a {
  font-size: large;
}
.btn {
  display: inline-block;
  background: gray;
  color: white;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 3px;
}
.btn1 {
  display: inline-block;
  background: gray;
  color: white;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 3px;
  position: absolute;
  left: 600px;
  top: 600px;
}
span {
  position: absolute;
  color: #df293e;
  font-weight: 800;
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: auto;
  height: auto;
  cursor: pointer;
  right: 10%;
  display: none;
}
